@model List<InvestManagerVer2.Web.Models.TransactionViewModel>
@{
    ViewData["Title"] = "Index";
}
<form>
    <br />
    <div class="col" style="width:1295px; height:60px;">
        <div class="card radius-10 border-0 border-4 border-info">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="input-group" style="width:500px; margin-right:690px;">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <button type="button" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background:blue;">
                            <i class="bi bi-filter"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Bye</a></li>
                            <li><a class="dropdown-item" href="#">Sell</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <table class="table table-light" style="border-radius:5px; overflow: hidden;">
        <thead>
            <tr class="table-active">
                <th>Transaction type</th>
                <th>Price</th>
                <th>Transaction Date </th>
                <th>Quantity </th>
                <th>Amount </th>
                <th>AssetInPortfolio </th>
                <th>InvestPortfolio </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var transaction in Model)
                {
                    <tr>
                        <td>
                            @transaction.TransactionType
                        </td>
                        <td>@transaction.TransactionType </td>
                        <td>@transaction.Price </td>
                        <td>@transaction.TransactionDate </td>
                        <td>@transaction.Quantity </td>
                        <td>@transaction.Amount </td>
                        <td>@transaction.AssetInPortfolio </td>
                        <td>@transaction.InvestPortfolio </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        <div>
                            No assets avaliable at this moment!
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</form>