@model List<InvestManagerVer2.Web.Models.RegisterViewModel>
@{
    ViewData["Title"] = "Index";
}
<form>
    <br />
     
    <br /><br />
    <table class="table table-light" style="width:1250px; border-radius:5px; overflow: hidden;">
        <thead >
            <tr class="table-active">
                <th>Name</th>
                <th>Surname</th>
                <th>Password</th>
                <th>Date of birth</th>
                <th>Date of registration</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Action</th>
            </tr>

        </thead>
        <tbody >
            @if (Model != null && Model.Any())
            {
                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            @user.Name
                        </td>
                        <td>
                            @user.Surname
                        </td>
                        <td>
                            @user.Password
                        </td>
                        <td>
                            @user.DateOfBirth
                        </td>
                        <td>
                            @user.DateOfRegistration
                        </td>
                        <td>
                            @user.NumberPhone
                        </td>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            <button asp-action="EditAccount" asp-controller="Admin" asp-route-id="@user.Id" class="btn btn-primary">Edit</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        <div>
                            Your data is not available right now!
                        </div>
                    </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    
                </tr>
            }
        </tbody>
    </table>
</form>
